NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=ganti-dengan-string-acak-yang-panjang

# Lokal boleh dikosongkan. Untuk Vercel, isi URL PostgreSQL (Neon/Supabase).
DATABASE_URL=

# Wajib untuk tombol Masuk dengan Gmail (Google Cloud Console → OAuth client)
GOOGLE_CLIENT_ID=352375298590-b03g6i7k701s28rqb2rk8bvtuhude90n.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
